p {
	font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
	color: #43464D;
	font-size: 18px;
}

.head {
	font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
	font-size: 26px;
	color: #43464D;
	text-align: center;
	line-height: 1.5em;
	margin: 1.5em 0 1em 0;
}

#banner {
    margin-bottom: 16px;
}

#banner img {
	margin-top: 1em;
}

#buttondiv {
    text-align: center;
	margin: 0.5em 0 1em 0;
}

#button {
    background-color: #c32432;
    max-width: 600px;
}

#sponsors img {
	margin: 0.5em 0 0.5em 0;
}

button.radius, .button.radius {
    border-radius: 3px;
}

/*
.small-12.button.radius {
    max-width:
}*/
